<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./stylesheets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/portfoliostyle.css" />
</head>
<body>
    <div id="main">
        <div class="container">
            <div class="row mainrow" id="header">
                <div class="col-md-4 text-center">
                    <a class="passive" href="/">About Me</a>
                </div>
                <div class="col-md-4 text-center">
                    Portfolio
                </div>
                <div class="col-md-4 text-center">
                    <a class="passive" href="./files/cv.pdf" target="_blank" download>Download My CV</a>
                </div>
            </div>
            <div class="mainrow">
                <div class="row">
                    <div class="col text-center head">
                        Roommate matching script
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-md-4">
                        A PLACE FOR PICTURE
                    </div>
                    <div class="col col-md-8">
                        Roommate matching Script is a relative small program which was
                        created by me and my group mates during the first semester of
                        the sophamore year. We wanted to solve the problem that the SLA
                        team of UCA faces each year before the start of the academic year which
                        is the problem of matching 2 people from different countries with same
                        gender and same preferences in one room.
                    </div>
                </div>
            </div>
            <div class="mainrow">
                <div class="row">
                    <div class="col text-center head">
                        Roommate matching script
                    </div>
                </div>
                <div class="row content">
                    <div class="col col-md-4">
                        A PLACE FOR PICTURE
                    </div>
                    <div class="col col-md-8">
                        Roommate matching Script is a relative small program which was
                        created by me and my group mates during the first semester of
                        the sophamore year. We wanted to solve the problem that the SLA
                        team of UCA faces each year before the start of the academic year which
                        is the problem of matching 2 people from different countries with same
                        gender and same preferences in one room.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>